/*
 * Transition Mixin to handle all transitions
 */
/* General Colors */
/* Sidebar Settings */
/* Footer Settings */
/* Off Canvas */
@media screen and (min-width: 768px) {
  .row-offcanvas.active {
    right: 25%;
    /* 3 columns */ }
    .row-offcanvas.active .content {
      width: 100%;
      /* 12 columns */ }
  .row-offcanvas .content {
    width: 75%;
    /* 9 columns */
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .row-offcanvas .sidebar-offcanvas {
    width: 25%;
    /* 3 columns */
    right: -25%;
    /* 3 columns */ } }
@media screen and (max-width: 767px) {
  .row-offcanvas.active {
    right: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    width: 50%;
    /* 6 columns */
    right: -50%;
    /* 6 columns */ } }
/* styling the sidebar and the toggle button */
.row-offcanvas {
  position: fixed;
  right: 0;
  height: 100%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .row-offcanvas .sidebar-offcanvas {
    background: #251c1c;
    position: absolute;
    top: 0; }
  .row-offcanvas .sidebar {
    background: #251c1c;
    padding: 8px 12px;
    top: 0;
    height: 100%;
    z-index: 1;
    pointer-events: auto; }
    .row-offcanvas .sidebar .panel-heading {
      text-align: center; }
      .row-offcanvas .sidebar .panel-heading a {
        color: white;
        text-decoration: none; }
    .row-offcanvas .sidebar .panel-body p:hover {
      background: white; }
      .row-offcanvas .sidebar .panel-body p:hover a {
        color: #251c1c; }
    .row-offcanvas .sidebar .panel-body a {
      color: white;
      text-decoration: none; }
  .row-offcanvas .btn-collapse {
    position: fixed;
    padding: 8px 12px;
    top: 20px;
    right: 0;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0;
    z-index: 1 !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .row-offcanvas.active .btn-collapse {
    right: 25%;
    margin-right: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

.footer-main {
  width: 100%;
  background-color: #251c1c;
  color: white; }
  .footer-main .footer-main-text {
    text-align: center;
    color: #777777; }
  .footer-main .footer-nav {
    text-align: center; }
    .footer-main .footer-nav a {
      color: white;
      text-decoration: none; }
  .footer-main .footer-bottom-text {
    color: #777777;
    text-align: center; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

content {
  flex: 1 0 auto; }

footer {
  margin-top: 0;
  flex-shrink: 0; }

/*# sourceMappingURL=main.css.map */
