#index-page {

    h1,
    h4 {
        text-align: center;
    }

    #index-header {
        height: 90vh;

        background-image: url(/img/hoover_black_house_edited.png);
        background-repeat: no-repeat;
        background-size: cover;

        .row-first {
            min-height: 100%;
        }

        .right-col {
            min-height: 100%;
        }

        .left-col {
            min-height: 100%;


            hr {
                border-top: 2px solid black;
            }
        }
    }
}