#index-header {
    height: 90vh;

    background-image: url(/img/hoover_black_house_edited.png);
    background-repeat: no-repeat;
    background-size: cover;

    .row-first {
        min-height: 90%;
    }

    .right-col {
        min-height: 90%;
    }

    .left-col {
        min-height: 90%;

        h1, h4 {
            text-align: center;
        }

        .hr {
            border-top: 1px solid black;
        }
    }

    .scroll-down {
        min-height: 10%;
        position: relative;
        bottom: 0;
        background: rgba(121, 211, 214, 0.459)
    }
}

#index-about {
    height: 500px;
    background: green;
}

#index-work {
    height: 500px;
    background: yellow;
}