html, 
body {
  background: url(/img/so-white.png);
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

content {
  flex: 1 0 auto;
}

footer {
  margin-top: 0;
  flex-shrink: 0;
}