html, 
body {
  background: url(/img/so-white.png);
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

content {
  flex: 1 0 auto;
}

footer {
  margin-top: 0;
  flex-shrink: 0;
}

.img-left {
  float: left;
}

.img-rght {
  float: right;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.gallery {
  img {
    float: left;
  }
}