footer {
    
    width: 100vw;
    background-color: $footer-bg-color;
    color: $footer-text-color-light;
    text-align: center;

    .footer-main-text {
        color: $footer-text-color-grey;
    }

    .footer-nav {
        a {
            color: $footer-text-color-light;
            text-decoration: none;
        }
    }

    .footer-bottom-text {
        color: $footer-text-color-grey;
    }
}