
/* Off Canvas */

@media screen and (min-width: 768px) {
    .row-offcanvas {
      position: fixed;
      right: 0;
      z-index: 1;
      @include transition(all, .3s, ease-out);
      &.active {
         right: 25%; /* 3 columns */
        .content {
          width: 100%; /* 12 columns */
        }      
      }
      .content {
        width: 75%; /* 9 columns */
        float: right;
        @include transition(all, .3s, ease-out);
      }
      .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 25%; /* 3 columns */
        right: -25%; /* 3 columns */
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .row-offcanvas {
      position: fixed;
      right: 0;
      z-index: 1;
      @include transition(all, .3s, ease-out);
      &.active {
        right: 50%; /* 6 columns */
      }
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%; /* 6 columns */
      right: -50%; /* 6 columns */
    }
  }
  
  /* styling the sidebar and the toggle button */
  
  .content {
    position: relative;
  }
  
  .sidebar {
    background: rgba(51, 122, 183, 0.09);
    padding: 8px 12px;
    margin-top:-20px;
  }
  .btn-collapse {
    position: fixed;
    padding: 8px 12px;
    top: 20px;
    right: 0;
    border-radius: 0;
    background: rgba(51, 122, 183, 0.09);
    @include transition(all, .3s, ease-out);
  }
  .row-offcanvas.active .btn-collapse {
    right: 25%;
    margin-right: 0;
    @include transition(all, .3s, ease-out);
  }
  